/table-tennis-instructor-api/table-tennis-instructor-api.iml
/table-tennis-instructor-api/.idea
/table-tennis-instructor-api/target
/table-tennis-instructor-front/node_modules
/droolsTestEnv/
/.project
/.classpath